
@media screen and (max-width: 1200px) {

    .header{
        flex-wrap: wrap;
    }


    .headerLogo{
        margin-left:-5rem;
        padding-right:4rem;
    }

    .php--content{
        display: flex;
        gap:5rem;
    }
    
    .card{
        width:15rem;
        height:15rem;
        gap:1rem;
    }

    .inhoud{
        width:15rem;
        height:15rem;
        margin-left:5rem;
        margin-top:20rem;
        border-radius:1rem;
    }

    .ctablok{
        width:35rem;
        height:30rem;
    }

    .ctablokimg{
        object-fit: contain;
    }

    .ctabutton{
        width:10rem;
        height:5rem;
        font-size:1.2rem;
    }

    
    .headingtextblok{
  
        align-items:normal;
        flex-direction: column;

}   

}