@use 'colors';

.showcase {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    border-bottom: 0.8rem solid colors.$blue;
}


.php--content{
    display: flex;
    gap:15rem;
}

.card{
    text-decoration: none;
    color: colors.$black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 25rem;
    height: 25rem;
    background: colors.$lightBlue;
    border-radius: 20%;
    border: 0.3rem solid colors.$blue;
}

.showcaseTitle {
    font-size: 4rem;
    color:colors.$gray
}

.randomsdg {
    width: 80rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.randomsdgimg {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
}